

.decision{
	text-align:center !important;
	margin: 0 auto;
	font-size:20px;
	font-weight:bold;
	padding : 0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.load
{
    background:url('../img/ajax-loader.gif') no-repeat center;
} 

.noborder{
	border:none !important;
}
.envoi{

	background-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
	padding-top:100px;

}

.conform{
	color: #03FC04;
}

.rouge{
	color:red;
}

.nonConform{
	color: #FA0300;
}

.enAttente{
	color: black;
}

.derogation{
	color: blue;
}

.img_coche{
	height: 21px;
}

.celluleCenter{
	text-align:center !important;
	margin: 0 auto;
}

body{
	/*padding-top:20px;*/
	
}
.codebarreConformite{
	border: 1px solid #dddddd;
    border-radius: 4px;
    margin-top: 5%;
    padding: 10px;
    vertical-align: middle;
}

.codebar{
	border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 10px 20px;

}
.container{

	height:1350px;
}


.alignCenter{
	text-align:center !important;
}
.alignRight{
	text-align:right !important;
}

.piedpage{
    color: #666666;
    font-size: 10px;
    margin: 50px auto;
    text-align: center;
	
}

.marquage{
	margin-left:20px;
    font-size: 12px;
}

.colorEnteteFact{
background-color:#734B21;
text-align:center !important;
color:white;
-webkit-print-color-adjust: exact;
}

.echantillon td, .echantillon th{
	text-align:center;

}

.btn-marron { 
	background-color: hsl(24, 33%, 22%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a27252", endColorstr="#4a3425"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#a27252), to(#4a3425)); 
	background-image: -moz-linear-gradient(top, #a27252, #4a3425); 
	background-image: -ms-linear-gradient(top, #a27252, #4a3425); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a27252), color-stop(100%, #4a3425)); 
	background-image: -webkit-linear-gradient(top, #a27252, #4a3425); 
	background-image: -o-linear-gradient(top, #a27252, #4a3425); 
	background-image: linear-gradient(#a27252, #4a3425); 
	border-color: #4a3425 #4a3425 hsl(24, 33%, 15.5%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42); 
	-webkit-font-smoothing: antialiased; 
}

.tableSmall td, .tableSmall th{
	line-height:20px;
	padding: 2px;
	vertical-align:middle;
}