

.decision{
	text-align:center !important;
	margin: 0 auto;
	font-size:20px;
	font-weight:bold;
	padding : 0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.conform{
	color: #03FC04;
}

.rouge{
	color:red;
}

.nonConform{
	color: #FA0300;
}

.enAttente{
	color: black;
}

.derogation{
	color: blue;
}

.img_coche{
	height: 21px;
}

.celluleCenter{
	text-align:center !important;
	margin: 0 auto;
}

body{
	/*padding-top:20px;*/
	
}
.codebarreConformite{
	border: 1px solid #dddddd;
    border-radius: 4px;
    margin-top: 5%;
    padding: 10px;
    vertical-align: middle;
}

.codebar{
	border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 10px 20px;

}
.container{

	position: relative;
	height:1350px;
}


.alignCenter{
	text-align:center !important;
}
.alignRight{
	text-align:right !important;
}

.toujoursenbas{
	position: absolute;
	bottom: 10px;
    color: #666666;
    font-size: 10px;
    left: 259px;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
}

.colorEnteteFact{
background-color:#734B21;
text-align:center !important;
color:white;
-webkit-print-color-adjust: exact;
}

.echantillon td, .echantillon th{
	text-align:center;

}

.tableSmall td, .tableSmall th{
	line-height:20px;
	padding: 2px;
	vertical-align:middle;
}